<div class="row">
    <div calss="col-12 mx-auto">
        <div class="m-5 mx-auto" style="max-width: 80%;">
            <div class="card-body">
                <h3 class="card-title text-center">自動化設定方法 for Android</h3>
                <hr class="my-4">
                <div class="text-center">
                    <i class="las la-tired"></i> Androidでの設定方法については調査中です <i class="las la-tired"></i>
                </div>
            </div>
        </div>
    </div>
</div>