<div class="jumbotron text-center text-light">
  <h1 class="logo display-4">AirBord</h1>
  <p class="lead">- 全自動で 在室/出席 状況を管理 -</p>
  <hr class="my-4">
  <p>Using smartphone shortcut, you can manage member's presence automatically.</p>
  <div class="container text-center padding-5">
    <div class="row">
      <div class="col">
        <%= link_to("ルームを作成", "/rooms/new", {class:"btn btn-primary mt-5"}) %>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col mx-5 mb-5">
    <div class="card mx-auto h-100" style="max-width: 540px; min-width: 280px;">
      <div class="row">
        <div class="col">
          <img src="assets/sample1.png" class="img-fluid rounded">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card-body">
            <h5 class="card-title my-3">メンバーの在室状況が一目でわかる</h5>
            <p class="card-text my-3">
              オンラインでどこからでも確認できる在室状況管理サービスです<br>
              オフィス、ルームシェア、部室など今誰がいるのか知りたい場所に
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mx-5 mb-5">
    <div class="card mx-auto h-100" style="max-width: 540px; min-width: 280px;">
      <div class="row">
        <div class="col">
          <img src="assets/sample2.png" class="img-fluid rounded">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card-body">
            <h5 class="card-title my-3">入室・退室時の操作は一切不要</h5>
            <p class="card-text my-3">
              スマートフォンの機能を用いてAPIにアクセスすることで、ステータス変更を完全自動化できます
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div calss="col-12 mx-auto">
    <div class="m-5 mx-auto" style="max-width: 80%;">
      <div class="card-body">
        <h3 class="card-title text-center">自動化 設定方法</h3>
        <hr class="my-4">
        <div class="row">
          <div class="col-6 text-center">
            <%= link_to "/iphone", class: "btn btn-primary mt-3" do %>
              <i class="lab la-apple"></i> iPhoneの方はこちら
            <% end %>
          </div>
          <div class="col-6 text-center">
            <%= link_to "/android", class: "btn btn-primary mt-3" do %>
              <i class="lab la-android"></i> Androidの方はこちら
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div calss="col-12 mx-auto">
    <div class="m-5 mx-auto" style="max-width: 80%;">
      <div class="card-body">
        <h5 class="card-title">利用にあたっての注意</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Notice</h6>
        <p class="card-text">・位置情報の一部(特定の場所にいる/いない)がメンバーに共有されます。プライバシーにご注意ください</p>
        <p class="card-text">・在室状況の偽装等に対する対策は行なっておりません。ルームシェア、オフィス等善意の関係での利用を前提としたサービスのため、授業の出席管理等情報に厳格性を必要とする場面での利用は非推奨です。</p>
      </div>
    </div>
  </div>
</div>