<div class="jumbotron text-center text-light">
  <h1 class="logo display-4">AirBord</h1>
  <p class="lead">online in-out bord - 全自動で 在室/出席 状況を管理 -</p>
  <hr class="my-4">
  <p>Using smartphone shortcut, you can manage member's presence automatically.</p>
  <div class="container text-center padding-5">
    <div class="row">
      <div class="col">
        <%= link_to("ルームを作成", "/rooms/new", {class:"btn btn-primary"}) %>
      </div>
      <div class="col">
        <%= link_to("ルームに入る", "/rooms/login_form", {class:"btn btn-primary"}) %>
      </div>
    </div>
  </div>
</div>

