<div class="row">
    <div calss="col-12 mx-auto">
        <div class="m-5 mx-auto" style="max-width: 80%;">
            <div class="card-body">
                <h3 class="card-title text-center">自動化設定方法 for iPhone</h3>
                <hr class="my-4">
                <div class="list-text">
                    <h5>到着時の設定</h5>
                    <ol>
                        <li>ショートカット アプリからオートメーションを作成</li>
                        <li>(a)オートメーションの作成画面で「WiFi」を選択し、「ネットワーク」で到着場所のWiFiを指定し、「接続時」を選択 (推奨)<br>(b)オートメーションの作成画面で「到着」を選択し、場所を設定</li>
                        <li>「新規の空のオートメーション」->「URLの内容を取得」</li>
                        <li>メンバーページの自動化用URLの末尾に「/arrive」を追加し貼り付け、「方法」を「POST」に設定</li>
                        <li>完了！</li>
                    </ol>
                    <br>
                    <h5>退出時の設定</h5>
                    <ol>
                        <li>ショートカット アプリからオートメーションを作成</li>
                        <li>(a)オートメーションの作成画面で「WiFi」を選択し、「ネットワーク」で退出場所のWiFiを指定し、「接続解除時」を選択 (推奨)<br>(b)オートメーションの作成画面で「出発」を選択し、場所を設定</li>
                        <li>「新規の空のオートメーション」->「URLの内容を取得」</li>
                        <li>メンバーページの自動化用URLの末尾に「/leave」を追加し貼り付け、「方法」を「POST」に設定</li>
                        <li>完了！</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>