<% if @error_message %>
    <div class=error>
        <%= @error_message %>
    </div>
<% end %>

<%= form_tag("/login") do %>
    <p>User name</p>
    <input name="name">

    <p>email adress</p>
    <input name="email">

    <p>password</p>
    <input type="password" name="password">

    <input type="submit" value="ログイン">
<% end %>