<h1 class="text-center m-5">
    ルームを編集
</h1>

<div class="m-5">
    <div class="col-sm-12 col-md-8 mx-auto">
        <% if @error_message %>
            <div class="alert alert-danger" role="alert">
                <%= @error_message %>
            </div>
        <% end %>

        <%= form_tag("/rooms/#{@room.uuid}/update") do %>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">タイトル</label>
              <input name="name" class="form-control" placeholder="タイトル">
            </div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="更新" class="btn btn-primary mx-4 my-2">
            </div>

        <% end %>
    </div>
</div>

<div class="text-center">
    <%= button_to("削除","/rooms/#{@room.uuid}/delete", {class:"btn btn-danger btn-sm"}) %>
</div>