@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-brand{
    font-family: 'Sawarabi Mincho', sans-serif;
}
.logo{
    font-family: 'Sawarabi Mincho', sans-serif;
}

.jumbotron{
    color: "white";
    padding: 10%;
    background: url("DSC_1193.jpg");
    background-size: cover;
    background-position: center 60%;
}

.padding-5{
    padding: 5%;
}

.footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    height: 180px;
}
.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.list-text{
    margin: 10px auto;
    width: fit-content;
    line-height: 2;
}